Source: b2-backup
Section: utils
Priority: optional
Maintainer: Matt Brown <mattb@debian.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/mattbnz/b2-backup

Package: b2-backup
Architecture: all
Depends: duplicity (>=0.7.18), mailutils, ${misc:Depends}
Description: scripts to backup using duplicity
 A script and associated cron machinery to backup a set of local directories.
