Source: b2-backup
Section: utils
Priority: optional
Maintainer: Matt Brown <mattb@debian.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/mattbnz/b2-backup

Package: b2-backup
Architecture: any
Depends: duplicity (>=0.7.18), python-pip, mailutils, ${misc:Depends}
Description: scripts to backup to b2 using duplicity
 A script and associated cron machinery to backup a set of local directories to
 B2 buckets.
